.card {
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 100%;
    --webkit-background-size: 85% 100%;
    display: flex;
}

.icon {
    height: 30px;
    width: 30px;
}

.cardText {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.description {
    font-size: 12px;
}

.cta {
    font-size: 14px;
    width: fit-content;
    border-radius: 6px;
    padding: 13px 43.5px;
}

.arrow {
    justify-self: flex-end;
}

/* Specific Card Styles */
.HC3 {
    height: 350px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.75rem;
    padding: 20px 30px;
}

.HC3 .title {
    font-size: 30px;
    font-weight: 500;
}

.HC6 {
    background-color: var(--clr-white);
    height: 60px;
    width: 100%;
    padding: 15px 20px;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.HC6 .title {
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-black);
    width: 100%;
}

.HC5 {
    /* aspect-ratio: var(--aspect-ratio);
    --webkit-aspect-ratio: var(--aspect-ratio); */
    width: 100%;
}

.HC5 img {
    min-width: 100%;
    border-radius: 12px;
}

.HC9 img {
    border-radius: 11px;
    width: 100%;
}

.HC1 {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.HC1 .icon {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.HC1 .cardText {
    gap: 1px;
}

.HC1 .title {
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-black);
    width: 100%;
}

.HC1 .description {
    color: var(--clr-dark);
    font-size: 14px;
}

/* HC6 Long Press Styles */
.hc6Container {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: 0.5s all;
}

.hc6Container > div {
    transition: all 0.3s;
    z-index: 10;
}

.hc6Container.pressed > div {
    transform: translateX(40%);
}

.longPressActions {
    height: 100%;
    width: 40%;
    padding: 15px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.button:hover {
    outline: 2px solid var(--clr-white);
}
